<div class="container">
    <div class="row">
        {% for label, messages in app.flashes %}
            <div class="col-12 text-center">
                {% for message in messages %}
                    <div class="flash-{{ label }}">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
</div>